/* Untuk Tablet */
@media screen and (max-width: 1000px) {
	.products {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
	.product-content {
		flex-wrap: wrap;
	}
	.product-content h3 {
		color: rgb(0, 89, 255);
		text-align: left;
		font-size: 16px;
	}
	.product-content h4 {
		position: absolute;
		right: 10px;
		font-size: 15px;
	}
	.product-content p {
		margin-bottom: 20px;
		text-align: left;
	}

	.product-content li {
		list-style: none;
		float: right;
	}
	.product-content h5 {
		position: absolute;
		top: 245px;
		color: #0e7097;
	}
	.heading h1 {
		font-size: 32px;
	}

	.heading h2 {
		font-size: 20px;
	}

	.header-right {
		display: none !important;
	}
}

/* Untuk Smartphone */
@media screen and (max-width: 600px) {
	.products {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	.product {
		width: 100%;
		flex-basis: 90%;
		margin-bottom: 50px;
	}
	.product-content {
		flex-wrap: wrap;
	}

	.header-right {
		display: none !important;
	}

	.menu-icon {
		display: block !important;
	}

	.top-wrapper h1 {
		font-size: 24px;
		line-height: 36px;
	}

	.top-wrapper p {
		font-size: 14px;
		line-height: 20px;
	}
}
